@tailwind base;
@tailwind components;
@tailwind utilities;

.poem {
  background-color: #f3f4f6; /* Fondo claro */
  font-style: italic;        /* Texto en cursiva */
border-left: 4px solid #3b82f6; /* Línea azul a la izquierda */
  
 /* @apply bg-slate-200 */
 
 font-style: italic; /* Opcional: para darle un estilo poético */

}

.poema,
.poem {
  
  padding-left: 1rem;        /* Espaciado interno */
  white-space: pre-wrap; /* Preserva los saltos de línea y espacios */
  margin: 1rem 0; /* Espaciado opcional */
}

.poema {
  @apply bg-sand text-black font-serif p-4 rounded-lg;
  
}

.p {
  @apply bg-slate-500
}

h3 {
  @apply text-fuchsia-700 text-3xl
}